/{
    leds {
        compatible = "gpio-leds";
        custom_led: custom_led {
            gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
            label = "CUSTOM LED";
        };
    };
    buttons {
        compatible = "gpio-keys";
		custom_button0: custom_button0 {
			gpios = <&gpio0 11 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "CUSTOM BUTTON";
		};
    };
};